# Study Time Analysis

Analysis using studied time and grades.

## Import packages

In [89]:
import pandas as pd
import numpy as np

## Import data

In [90]:
time_tracking_df = pd.read_excel('./TimeTracking.xlsx')
grades_df = pd.read_excel('./Snittbetyg - Beräkning.xlsx')

## GPA Calculation

In [91]:
# Multiply HP with grade
grades_df["Score"] = grades_df["Betyg"] * grades_df["HP"]

In [92]:
tot_hp = grades_df["HP"].sum()
tot_score = grades_df["Score"].sum()
GPA = tot_score / tot_hp

In [93]:
GPA = tot_score / tot_hp

print("Tot HP graded: " + str(tot_hp))
print("Tot score graded: " + str(tot_score))
print("GPA: " + str(GPA))

Tot HP graded: 148.5
Tot score graded: 593.5
GPA: 3.9966329966329965

## TimeTracking Data Overview

In [94]:
time_tracking_df.columns

Index(['Datum', 'Starttid', 'Total Tid (minuter)', 'Kurs',
       'Studietyp (pomodoro/övning/labb/tenta/etc)', 'Kommentar'],
      dtype='object')

In [95]:
courses = list(time_tracking_df["Kurs"].unique())
print("Number of courses: " + str(len(courses)))
# print("\n".join(courses))

Number of courses: 29

In [104]:
# Create a list of column names
column_names = ["Kurs", "Timmar"]

# Create an empty DataFrame with the specified column names
courses_df = pd.DataFrame(columns=column_names)

# Add data to column "Kurs"
courses_df["Kurs"] = courses
courses_df = courses_df.sort_values(by='Kurs')

# Calculate hours per course, to column "Timmar"
#courses_df["Timmar"] = time_tracking_df[time_tracking_df["Kurs"]  ]
minutes_per_course = time_tracking_df.groupby('Kurs')["Total Tid (minuter)"].sum()
courses_df["Timmar"] = minutes_per_course.values / 60

# Perform the left join
courses_df = pd.merge(courses_df, grades_df, on='Kurs', how='left')

# Fill the empty 'Grade' values with "-1"
courses_df['Betyg'] = merged['Betyg'].fillna(-1)

# Drop the "Score" column
courses_df.drop('Score', axis=1, inplace=True)

# Add expected time spent column
courses_df["Förväntade timmar"] = (courses_df["HP"] / 1.5) * 40
courses_df["Tid per förväntat"] = courses_df["Timmar"] / courses_df["Förväntade timmar"]

courses_df.sort_values(by="Tid per förväntat")

,Kurs,Timmar,Termin,Betyg,HP,Förväntade timmar,Tid per förväntat
27,Tillämpad maskininlärning,33.583333,HT22,3.0,7.5,200.000000,0.167917
0,Affärsdriven programvaruutveckling,47.250000,HT22,4.0,7.5,200.000000,0.236250
12,Flertrådad programmering,49.583333,HT22,5.0,7.5,200.000000,0.247917
20,Matematisk statistik,50.000000,HT22,5.0,7.5,200.000000,0.250000
8,Elektronik,37.666667,VT22,3.0,5.0,133.333333,0.282500
5,Datorteknik,45.250000,VT22,4.0,6.0,160.000000,0.282813
14,Grundläggande funktionsprogrammering,51.600000,VT22,4.0,5.0,133.333333,0.387000
26,Reglerteknik,78.666667,HT22,4.0,7.5,200.000000,0.393333
17,Kognition,50.333333,HT20,4.0,4.5,120.000000,0.419444
19,Linjära system,56.250000,VT22,5.0,5.0,133.333333,0.421875
6,Digitalteknik,104.333333,HT21,3.0,9.0,240.000000,0.434722
4,Datorkommunikation,91.083333,HT21,5.0,7.5,200.000000,0.455417
7,Diskreta Strukturer i Datavetenskap,62.416667,VT21,3.0,5.0,133.333333,0.468125
1,"Algoritmer, datastrukturer och komplexitet",67.750000,VT22,4.0,5.0,133.333333,0.508125
11,Flerdimensionell Analys,85.666667,HT21,4.0,6.0,160.000000,0.535417
18,Linjär Algebra,87.833333,VT21,3.0,6.0,160.000000,0.548958
21,Objektorienterad Modellering och Design,66.750000,HT21,5.0,4.5,120.000000,0.556250
23,Programmering Grundkurs,117.500000,HT20,5.0,7.5,200.000000,0.587500
10,Endimensionell Analys B2,120.500000,HT20,3.0,7.5,200.000000,0.602500
13,Fotonik,93.166667,VT21,4.0,5.0,133.333333,0.698750
9,Endimensionell Analys B1,154.833333,HT20,3.0,7.5,200.000000,0.774167
2,Annat,0.750000,NaN,-1.0,NaN,NaN,NaN
3,Datorer och Datoranvändning,4.666667,NaN,-1.0,NaN,NaN,NaN
15,Introduktion till artificiella neuronnätverk o...,50.583333,NaN,-1.0,NaN,NaN,NaN
16,Kandidatarbete,59.500000,NaN,-1.0,NaN,NaN,NaN
22,Planering,17.750000,NaN,-1.0,NaN,NaN,NaN
24,Programmeringsteknik Fördjupningskurs,88.166667,NaN,-1.0,NaN,NaN,NaN
25,Programvaruutveckling i grupp,82.916667,NaN,-1.0,NaN,NaN,NaN
28,Utvärdering av Programvarusystem,36.250000,NaN,-1.0,NaN,NaN,NaN